
  .productlist {
    border: 1px solid;
    position: absolute;
    top: 30%;
    left: 20%;
    right: 50%;
    bottom: 50%;
    width: 55vw;
    height: 52.1vh;
    background-color: rgb(243, 226, 228);

    &-cross {
      position: absolute;
      right: 5px;
      font-size: 2rem;
      text-decoration: none;
    }

    &-container {
      display: flex;
      width: 50vw;
      height: 50vh;
      top: 20%;
      left: 20%;
      right: 50%;
      bottom: 50%;
      justify-content: center;
      align-content: center;
      align-items: center;
      text-align: center;

      .productlist-pic {

        width: 30vw;
        height: 45vh;
      }

      .productlist-details {
      padding-left: 2rem;
      }
    }
  }


@media (max-width: 768px) {


    .productlist {
      top: 12%;
      left: 10%;
      right: 10%;
      bottom: 10%;
      width: 80vw;
      height: auto;

      &-container {
        flex-direction: column;
        top: 10%;
        left: 10%;
        right: 10%;
        bottom: 10%;
        width: 80vw;
        height:auto;
        background-color: rgb(243, 226, 228);



        &-pic {
          margin-top: 10%;
          width: 40vw;
          height: 20vh;
          justify-content: center;
        }
      }

    }
  }


@media (max-width: 480px) {
  .productlist {

    border: none;

    &-container {

      border: solid 1px;
      width: 80vw;

      &-pic {
        width: 80vw;
      }
    }
  }
}